@import "~bootstrap/scss/bootstrap.scss";

.counter div {
    font-size: 4em;
    margin: 24px;
    padding: 24px;
    width: 125px;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    text-align: center;
    box-shadow: inset 0 0 5px 5px rgb(170, 170, 170);
    
}

.counter{
    border-radius: 16px;
    background-color: black;
    display: flex;
    margin: 32px auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    box-shadow: 0 5px 5px 5px rgb(136, 136, 136);
}

#app{
    background-color: white;
}


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
